
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navbar ul {
    font-size: 16px;
    display: flex;
    list-style: none;
    padding: 0px;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 400;
}
.navbar li a {
    margin-left: 45px;
    text-decoration: none;
    color: #1B2755;
}
/* BANNER */
.banner {
    background-image: url(imagens/banner-home.png);
    background-size: cover;
    height: 85vh;
   /* height: 800px;
    */
    display: flex;
    align-items: center;
}
.banner__txt {
    width: 40%;
}
.banner__txt h1 {
    font-size: min(60px,5vh);
   /* font-size: 60px;
    */
    color: #fff;
    font-weight: bold;
}
.banner__txt p {
    color: #fff;
    font-size: min(22px,3vh);
}
.banner__txt span {
    font-weight: bold;
}
.banner__txt {}
.btn-main {
    border: none;
    color: #fff;
    background-color: #15BFF1;
    padding: 12px 50px;
    border-radius: 7px;
    font-weight: bold;
}
/* BANNER */
/* OBJETIVOS */
.titulos {
    padding: 100px 0px;
    text-align: center;
    width: 55%;
    margin: auto;
}
.titulos h1 {
    font-size: 40px;
    font-weight: bold;
    color: #15BFF1;
}
.titulos p {
    font-size: 22px;
    color: #4B4B4B;
}
.servicosCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 398px);
    justify-content: center;
    grid-gap: 20px;
    padding-bottom: 150px;
}
.servicosCards__single {
    padding: 0px 80px;
    border: 3px solid #15BFF1;
    border-radius: 15%;
    display: flex;
    align-items: center;
    text-align: center;
    height: 400px;
}
.servicosCards__single h1 {
    font-size: 30px;
    font-weight: bold;
    color: #1B2755;
}
.servicosCards__single p {
    font-size: 16px;
    color: #929292;
}
.servicosCards__single img {
    padding-bottom: 20px;
}
/* OBJETIVOS */




/* CASES */
.cases {
        
    background-image: url(imagens/fundo-cases.png);
    background-size: cover;
    /* height: 650px; */
    padding: 190px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.txtCases {
  
}
.txtCases h1 {
font-size: min(40px, 7vh);
text-transform: uppercase;
font-weight: 600;
color: #1B2755;
}
.txtCases p {
    font-size: min(20px, 4vh);
    
    font-weight: 500;
    color: #fff;
    
    }

 .btn-cases {
    border: none;
    background-color: #1B2755;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 30px;
} 
.casesInfo {
display: flex;
justify-content: space-around;
align-items: center;
color: #1B2755;

}

.casesInfo__txt h1 {
text-align: center;
font-size: 100px;
font-weight: bold;
}
.casesInfo__txt {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    }

.casesInfo img {
    width: 285px!important;
    min-width: 100%;
    padding-top: 25px;
    margin-right: 5px;
}


/* CASES */


/* O QUE NOSSOS CLIENTES FALAM */

.nossos-clientesFalam {
    padding: 550px 0px;
    background-image: url(imagens/clientesDizem_fundo.png);
    background-repeat: no-repeat;
    background-position: 4% 26%
}
.nossos-clientesFalam-wrapper {
    display: flex;
}

.nossos-clientesFalam__txt { 
    width: 30%;
}
.nossos-clientesFalam__txt h1 {
color: #15BFF1;
font-size: 70px;
font-weight: 600;
}
.nossos-clientesFalam__txt p {
    color: #707070;
    font-size: 22px;
}
.cardsClientes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* display: grid;
     grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 20px; */
}
.cardsClientes__single {
    background-color: #929292;
    height: 450px;
    width: 260px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 40px;
    
    
}
.txt-client {
    padding-top: 20px;
   position: absolute;
   width: 100%;
   top: 100%;
   text-align: center;
}
.txt-client p {
    font-size: 24px;
    font-weight: 700;
    color: #15BFF1;
    margin: 0px;
}
.txt-client span {
    color: #929292;
    font-size: 16px;
}

.btn-orcamento {
    background-color: #ED1164;
}
.cardsClientes__single img {
    /* width: 260px;
    height: 450px;
    max-width: 100%; */
}
/* O QUE NOSSOS CLIENTES FALAM */


/* QUEM SOMOS */
.quemSomos{
    background-size: cover;
    height: 80vh;
    background-image: url(/imagens/Grupo\ 565.png);
    background-position: 100% 100%;
    background-size: 100%;
    display: flex;
    align-items: center;
}
.quemSomos__txt { 
    width: 70%;
}
.quemSomos__txt h1 {
color: #1B2755;
font-size: 70px;
font-weight: 600;
}
.quemSomos__txt p {
    color: #fff;
    font-size: 22px;
}
/* QUEM SOMOS */



/* VAMOS JUNTOS ALCANÇAR SEUS OBJETIVOS? */
.atingirObjetivos {
position: relative;
padding-top: 300px;
padding-bottom: 150px;
background-color: #1B2755;
}
.insights {
    
}
.insights {
    
    position: absolute;
    width: 100%;
    top: -23%;
}
.insights__wrapper {
  display: flex;
  justify-content: center;

}
.insights__cards {
    height: 400px;
    width: 530px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    background-size: cover;
    position: relative;
    margin-left: 15px;
    padding: 50px;
    
}
.insights__cards::before {
    content: '';
    border-radius: 15%;
    background-color: #15BFF1;
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0.8;
    width: 100%;

}
.insights__cards__txt {
    text-align: center;
    z-index: 999;
    
}
.insights__cards__txt h1 {
    font-size: 30px;
    
    
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
.insights__cards__txt .btn-card {
    border: 1px solid #fff;
    max-width: 100%;
    background-color: transparent;
}
.atingirObjetivos__txt {
   
    width: 90%;
}

.atingirObjetivos__txt h1 {
font-size: 40px;
font-weight: bold;
color: #15BFF1;
}

.atingirObjetivos__txt p {
font-size: 22px;
font-weight: 500;
color: #fff;
}
.atingirObjetivos__txt span {
    font-weight: bold;
    text-transform: uppercase;
}
.formularioContato input {
    background-color: transparent;
    padding: 15px;
    border-radius: 15px;
    border-color: #00A4E5;
    margin-bottom: 15px;
    outline: red;
}
.formularioContato input[type=text]:focus{
    outline: none;
    background-color: transparent;
    color: #fff;
  }
.formularioContato input::placeholder {
    color: #00A4E5;
    font-size: 12px;

}

.formularioContato textarea::placeholder {
    color: #00A4E5;
    font-size: 12px;

}


.formularioContato textarea {
    color: #00A4E5;
    background-color: transparent;
   padding: 10px;
   border-radius: 15px;
   border-color: #00A4E5;
}

.btn-submit {
    background-color: #00A4E5;
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}
/* VAMOS JUNTOS ALCANÇAR SEUS OBJETIVOS? */

/* INSIGHTS */

/* INSIGHTS */
/* FOOTER */
.footer {
    display: none;
    background-color: #15BFF1;
}
.footer__high {
    display: flex;
    justify-content: space-between;
    margin: 100px 0px;
    padding: 50px 0px;
    border-bottom: 3px solid #1B2755;
    
}
.footer__down {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
  
    
}
.footer__infos {
    display: flex;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    align-items: center;
    
}
.footer__infos img {
    align-self: center;
    padding-right: 10px;
    width: 50px;
}
.footer__infos p {
    font-size: 20px;
    margin: 0px;
}
.sobre {
    width: 30%;
}
.footer__txt {
    margin-right: 20px;
    font-weight: 500;
}
.footer__txt h1 {
    font-size: 20px;
    font-weight: bold;
    color: #1B2755;
}
.footer__txt p {
    font-size: 16px;
    color: #fff;
}
.footer__txt ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.footer__txt li a {
    font-size: 16px;
    color: #fff;

}
.footer__txt a {
   text-decoration: none;

}
.mapa {
    
}



/* FOOTER */





@media (max-width: 1366px) {
    .servicosCards {
        grid-template-columns: repeat(auto-fit, 300px);
   }
    .servicosCards__single {
        padding: 10px;
        
   }
   .cardsClientes__single {
    margin: 50px 0px;
   }
   .nossos-clientesFalam-wrapper {
    flex-direction: column;
    justify-content: center;
}
.nossos-clientesFalam__txt {
    width: 100%;
    text-align: center;
}
.insights__cards {
    width: 400px;
}
}
@media (max-width: 991px) {
    .header {
        justify-content: center;
   }
    .navbar ul {
        display: none;
   }
    .banner__txt {
        text-align: center;
        width: 100%;
   }
    .titulos {
        width: 100%;
   }
    .txtCases {
        text-align: center;
        padding-bottom: 100px;
   }
    .casesInfo {
        flex-direction: column!important;
   }.insights__wrapper {
    flex-direction: column;
   }
   .insights {
    
    position: relative;
  }
  .insights__cards {
      width: 50%;
      text-align: center;
      margin-left: 0px;
      margin-bottom: 20px;
      margin: 10px auto;
  }
  }
  @media (max-width: 767px) { 
    .insights__cards {
        width: 90%;
  }
}